.team-item{
    padding-top: 20px;
}

.team-item img{
    width: 200px;
    border-radius: 50%;
    margin: auto;
}

.team-item h1{
    text-align: center;
    font-weight: bold;

}


.team-item p{
    text-align: center;
}